<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- JDBC Database connection settings -->
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">
			jdbc:mysql://localhost:3306/ciq?allowPublicKeyRetrieval=true&amp;useSSL=false</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>


		<!-- Echo the SQL to stdout -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

		<property name="hibernate.cache.provider_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
		<!-- Enable second-level cache -->
		<property name="hibernate.cache.use_second_level_cache">true</property>

		<!-- Tell Hibernate to automatically cache all entities -->
		<property name="hibernate.cache.use_query_cache">true</property>
		<!-- <mapping resource="student.hbm.xml" /> -->

		<mapping class="com.ciq.entity.Student" />

	</session-factory>

</hibernate-configuration>